<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/doctor-profile/profile.css" type="text/css" />
    <link rel="stylesheet" href="/theme/theme.css" type="text/css" />
    <link rel="stylesheet" href="/dashboard/dashboard.css" type="text/css" />

    <script type="text/javascript" src="/flashMessages.js"></script>

    <%- include('partials/bootstrap') %>
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="wrapper">
      <div class="left-panel">
        <header>Dashboard</header>
        <div class="profile">
          <a href="/users/profile">General Details</a>
        </div>
        <hr />

        <div class="docprofile">
          <a href="/users/professional_profile">Professional Details</a>
        </div>
        <hr />
        <div class="appointments">
          <a href="#">Appointments</a>
        </div>
        <hr />
        <div class="create/edit">
          <a href="#">Create/edit appointments</a>
        </div>
        <hr />
        <div class="setting">
          <a href="#">Settings</a>
        </div>
      </div>
      <div class="right-panel">
        <form
          action="/users/doctor-profile?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="_method" value="PUT" />
          <div class="header-info-and-button">
            <header>Accounts</header>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
          <section class="top">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="avatar"
                name="avatar"
              />
              <label
                class="custom-file-label"
                for="customFile"
                style="text-align: left;"
                >Choose file</label
              >
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                value="<%= name %>"
                name="name"
              />
            </div>
          </section>
          <hr />
          <section class="middle">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="tel"
                class="form-control"
                value="<%= phone %>"
                name="phone"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>

              <input
                type="email"
                class="form-control"
                value="<%= email %>"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="gender">Select Gender</label>
              <select
                class="form-control"
                id="exampleFormControlSelect1"
                name="select"
              >
                <option> <%=select %></option>
                <option>female</option>
                <option>other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="dob">Date of birth</label>

              <input
                type="date"
                class="form-control"
                value="<%=dob %>"
                name="dob"
              />
            </div>
            <div class="form-group">
              <label for="timezone">Timezone</label>

              <select class="form-control" id="timezone" name="timezone">
                <option> (UTC+5:30) Asia / Kolkata</option>
                <option>(UTC+4:30) Asia / Kabul</option>
              </select>
            </div>
          </section>
          <hr />
          <section class="bottom">
            <div class="form-group">
              <label for="address">House No/Street/Area</label>

              <input type="text" class="form-control" name="address" />
            </div>
            <div class="form-group">
              <label for="address">Colony / Street / Locality</label>

              <input
                type="text"
                class="form-control"
                name="locality"
                placeholder="Colony / Street / Locality"
              />
            </div>
            <div class="form-group">
              <label for="city">Ccity</label>

              <input
                type="text"
                class="form-control"
                name="city"
                value="<%=city%>"
              />
            </div>
            <div class="form-group">
              <label for="state">state</label>

              <input
                type="text"
                class="form-control"
                name="state"
                value="<%=state %>"
              />
            </div>
            <div class="form-group">
              <label for="country">country</label>

              <input
                type="text"
                class="form-control"
                name="country"
                placeholder="Country"
              />
            </div>
          </section>
        </form>
      </div>
    </div>
  </body>
</html> -->
