<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" href="/reset.css" type="text/css" />
    <link rel="stylesheet" href="/registration/signin.css" type="text/css" />
  </head>
  <body>
    <!-- navbar included -->
    <div class="nav-parent">
      <%- include('partials/navbar') %>
    </div>
    <!-- navbar included -->

    <!-- signin form -->
    <% if(error) { %>

    <p><%= error %></p>
    <%}%>
    <section class="signin">
      <div class="form-wrapper">
        <div class="form-group">
          <%- include('partials/messages') %>

          <header>OTP</header>
          <hr />
          <form action="/users/otpVerifyPass" method="POST">
            <input type="hidden" name="requestId" value="<%= requestId %>" />
            <input
              type="text"
              class="form-control"
              id="mobile"
              aria-describedby="mobile"
              placeholder="Enter OTP"
              name="pin"
            /><button type="submit" class="btn btn-primary my-3" id="btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer>All rights reserved &copy; Tvstra.com</footer>
  </body>
</html>
